<ion-slide>
    <ion-content>
        <slide-refresher (ionRefresh)="doRefresh($event)" pullMin=120 pullMax=360><slide-refresher-content
            pullingIcon="refresh-circle"
            refreshingSpinner="circles">
            </slide-refresher-content>
        </slide-refresher>

          
          <ion-list *ngIf="wata && wata.data">

            <xyzui-book-card *ngFor="let book of wata.data" [bookinfo]="book">
                <!-- <button ion-button small icon-only> -->
                    <ion-icon [name]="serv.w_usercfg.isFavorite(book.uid)?'md-heart':'md-heart-outline'" color="danger" item-right (click)="serv.w_usercfg.toggleFavorite(book.uid)"></ion-icon> 
                <!-- </button> -->
                
            </xyzui-book-card>
                            
                        
          </ion-list>
                
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>  
    </ion-content>
</ion-slide>