<!-- Generated template for the HomeSettingsComponent component -->

<ion-header>
    <ion-toolbar>
      <ion-title>
        {{'_BOOKSETTING.TITLE'|translate}}
      </ion-title>
  
      <ion-buttons end>
          <button ion-button icon-only (click)="dismiss()">
              <ion-icon name="md-close"></ion-icon>
          </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="info">
    <ion-list padding-top>
      <div ion-text color="primary">&nbsp; {{'BOOKNAME'|translate}}</div>
      <ion-item>
        <ion-input text-right type="text" [(ngModel)]="info.title"></ion-input>
      </ion-item>
      <ion-item style="display:none" ></ion-item>

        <ion-item>
          <ion-label>{{'TAG'|translate}}1</ion-label>
          
          <ion-icon item-left name="ios-add-circle-outline" style="z-index:10" (click)="addNewTag(1)"></ion-icon>

          <ion-select [okText]="'OKAY'|translate" [cancelText]="'CANCEL'|translate" #langSelect [(ngModel)]="info.tag1">
              <ion-option *ngFor="let tag of tagarr" [value]="tag">{{tag}}</ion-option>
            </ion-select>
        </ion-item>


        <ion-item>
            <ion-label>{{'TAG'|translate}}2</ion-label>
            
            <ion-icon item-left name="ios-add-circle-outline" style="z-index:10" (click)="addNewTag(2)"></ion-icon>
  
            <ion-select [okText]="'OKAY'|translate" [cancelText]="'CANCEL'|translate" #langSelect [(ngModel)]="info.tag2">
                <ion-option *ngFor="let tag of tagarr" [value]="tag">{{tag}}</ion-option>
              </ion-select>
          </ion-item>

      <ion-item style="display:none"></ion-item>
    </ion-list>

    <ion-list>
        <div ion-text color="primary">&nbsp; {{'LANG'|translate}}</div>
  
        <ion-item>
          <ion-label>{{'NALANG'|translate}}</ion-label>

          <ion-select [okText]="'OKAY'|translate" [cancelText]="'CANCEL'|translate" #langSelect [(ngModel)]="info.nalang">
            <ion-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{misc.getLang(lang).nalang}}</ion-option>
          </ion-select>
        </ion-item>
  
        <ion-item>
          <ion-label>{{'TALANG'|translate}}</ion-label>

          <ion-select [okText]="'OKAY'|translate" [cancelText]="'CANCEL'|translate" #langSelect [(ngModel)]="info.talang">
            <ion-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{misc.getLang(lang).nalang}}</ion-option>
          </ion-select>
        </ion-item>

  


        <ion-item>
            <ion-label>{{'_MCQ.QUESTION'|translate}}</ion-label>
            
          <xyz-yn-button [text1]="'NALANG'|translate" [text2]="'TALANG'|translate" [value1]="true" [value2]="false" [(value)]="cfg.q" style="" item-right></xyz-yn-button>
        </ion-item>
                
        <ion-item>
            <ion-label>{{'_MCQ.ANSWER'|translate}}</ion-label>
            
          <xyz-yn-button [text1]="'NALANG'|translate" [text2]="'TALANG'|translate" [value1]="true" [value2]="false" [(value)]="cfg.a" style="" item-right></xyz-yn-button>
        </ion-item>
                
        <ion-item>
            <ion-label>{{'_MCQ.EXAMPLE'|translate}}</ion-label>
            
          <xyz-yn-button [text1]="'NALANG'|translate" [text2]="'TALANG'|translate" [value1]="true" [value2]="false" [(value)]="cfg.exp" style="" item-right></xyz-yn-button>
        </ion-item>
                
        <ion-item>
            <ion-label>{{'_MCQ.TIP'|translate}}</ion-label>
            
          <xyz-yn-button [text1]="'NALANG'|translate" [text2]="'TALANG'|translate" [value1]="true" [value2]="false" [(value)]="cfg.tip" style="" item-right></xyz-yn-button>
        </ion-item>

        
        <ion-item style="display:none" ></ion-item>
        
    </ion-list>

  </ion-content>
  