$slidemenu-bgcolor:rgb(245, 245, 245);
$slidemenu-bdcolor:rgb(218, 214, 214);

$slidemenu-Hmin:4rem;
$slidemenu-Hmax:150px;

page-editpage {

  .main-menu {
    position: relative;
    // background: gray;
    width: 100%;
    height: $slidemenu-Hmin;
    overflow: hidden;
    transition: height .2s linear;
    .btn{
      position: absolute;
      right: 10px;
      background: $slidemenu-bgcolor;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      display: block;
      border: 1px solid $slidemenu-bdcolor;
      cursor: pointer;
    }
    .placeholder{
      display: block;
      height:8px;
    }
    .content{
      .placeholder{
        display: block;
        height:5px;
      }
      background: $slidemenu-bgcolor;
      width:100%;
      height:100%;
      border-top: 1px solid $slidemenu-bdcolor;
    }
    ion-col{
      margin: 2px;
      padding: 2px;
      border: 1px solid $slidemenu-bdcolor;
      cursor: pointer;
    }
  }
  .main-menu[state=hidden] {
    height: 0px;
  }
  .main-menu[state=full] {
    height: $slidemenu-Hmax;
  }
}

page-editpage-setting{
  xyzui-btn-yn .btn{
    padding: 10px 20px;
  }
}
