
ion-list{
  margin-bottom:16px !important;
}

ion-range {
  padding: 10px 16px !important;
}

app-quiz {

  .gofade{
    max-height:0px !important;
    -moz-transition: max-height .3s ease;
    -webkit-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
  }

  .card-wrapper{
    // overflow: hidden;
    max-height: 150px;
    user-select: text;
    h1{
      font-size: 4rem !important;
      font-weight: 600 !important;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    button{
      position: absolute !important;
      right:10px;
      top:0px;
      background-color: #ebf0fa !important;

      color: map-get($colors,primary) !important;
      font-weight: 900 !important;
      font-size: 2.0rem !important;
      padding: 8px 0px !important;
      height: 2.0rem !important;
      line-height: unset !important;
    }
  }


}

app-quiz-play,app-quiz-speak,app-quiz-test{

  .out-of-quiz{
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
    padding-top: 4rem;
  }

  ion-range {
    height:30px;
    // border:1px solid red;
    margin:10px 0px 0px 0px;

    padding: 0px 8px !important;
    .range-slider {
      // height: 22px !important;
      height: calc(42px - 30px) !important;
    }

    .range-bar {
      top: calc(21px - 11px) !important;
      height: calc(1px + 9px) !important;
      top: -2px !important;
    }
    .range-knob-handle{
      height: 0px !important;
    }

    .range-knob {
      left: calc(7px + 18px/2) !important;
      top: calc(7px - 19px) !important;
      
      border-radius: 2px !important;
      width: calc(28px - 18px) !important;
    }
    .range-pin{
      top: -35px !important;
    }

  }

  .wrapper{
    position: relative;
    
    margin:6px;
    width: calc(100% - 12px);
    height: calc(100% - 18px);

    //for card flip
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
  }

  .ansinput{
    margin:0px 6px 20px 6px;
    padding:5px;
    
    display: block;
    white-space: nowrap;
    overflow: hidden;
    line-height: 4rem;
    font-size: 2.0rem;
    
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid gray;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(6px);
    }
    50% {
      transform: translateX(-6px);
    }
  }
  .micOff::before{
    color:gray !important;
  }
  .micOn::before{
    color:red !important;
    animation: shake 1s ease-in-out infinite;
  }

  .ansoption{
    margin: 0px !important;
    line-height: 4rem;

    .opt-corrent{
      // position: absolute;
      font-size: 3rem !important;
      font-weight: 900 !important;

      color:green !important;

      &::before{
        vertical-align: sub;
      }
    }
  }

  .ans-correct::before{
    color:green !important;
  }
  .ans-error::before{
    color:red !important;
  }

  .wordcard{
    display: block;
    user-select: text;
    height: 100%;
    width: 100%;

    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid gray;
    
    //prevent ion-button shows in another side;
    .button{
      position: unset !important;
      contain: none !important;
      &:hover {
        opacity: unset;
      }
    }
    button{
      background-color: #ebf0fa !important;
      
      color: map-get($colors,primary) !important;
      font-weight: 900 !important;
      font-size: 2.5rem !important;

      margin: 0px;
      padding: 0px;
      height: unset !important;
    }

    h1{
      margin: 0px;
      
      user-select: text;
      font-size: 3.5rem !important;
      font-weight: 600 !important;
      text-overflow: ellipsis;
      white-space: nowrap;

      margin-top: 0px;

      transition: color 0.3s ease;
    }

    p{
      margin: 10px;
      user-select: text;
      font-size: 1.7rem !important;
      // font-weight: 600 !important;
      // text-overflow: ellipsis;
      // white-space: nowrap;

      // margin-top: 0px;
    }
    
    .onVoice{
      color: rgb(238, 134, 16);
      transition: color 0.3s ease;
    }
  }

  //for card filp
  .wordcard{
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    // transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    &.flipped {
      //replaced by js code
      // -webkit-transform: rotateY( 180deg );
      // -moz-transform: rotateY( 180deg );
      // -o-transform: rotateY( 180deg );
      // transform: rotateY( 180deg );
    }

    .back {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
    }

    .front, .back{
      display: block;
      height: 100%;
      width: 100%;
      padding:12px;

      position: absolute;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }





  .player_wrap {
    // width: 100%;
    margin: 0 auto;
    display: flex;
    margin:3px;

    .btn{
      margin:2px;
      border: 1px solid map-get($colors,primary);
      text-align: center;
      border-radius: 3px;
      padding:5px;
    }

    .btnplay {
      width: 80%;
      
    }
    .btnnext {
      width: 20%;
    }

    ion-icon::before{
      font-size: 30px;
      color: map-get($colors,primary);
      transition: color 0.3s ease;
    }

    .btn:active {
      ion-icon::before{
        color: darken(map-get($colors,primary),20%);;
        transition: color 0.3s ease;
      }
    }
  }
}


app-quiz-setting {

  xyzui-btn-np{
    padding: 4px;
    width:95%;
    display: flex;
    float: right;
  }

  .num-circle{
    margin: 0px 5px;
    line-height: 3rem;
    height: 3rem;
    width: 3rem;
    display: inline-block;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 50%;
    border: 1px solid gray;
  }
}
