xyz-tag-header {
  .tag-title{
    display:flex;
    padding-left: 3px !important;
    // border: 1px solid;
    // border-top: 4px dashed gray;
    background: rgb(247, 247, 247);
    
    ion-icon{
      font-size: 2.0rem;
      margin-top: 4px;
      color: gray;
    }

    div{
      font-size: 1.5rem;
      margin-top: 4px;
      text-align: left;
      margin-left: 4px;
    }
    h3{
      font-size: 1.7rem;
      margin: 0px;
    }
    p{
      font-size: 1.0rem;
      margin: 0px;
    }
  }
}
