
<ion-card *ngIf="bookinfo" (click)="navTo()">
    <ion-item>
      <!-- <ion-avatar item-start>
        <img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
      </ion-avatar> -->
      <h1>{{bookinfo.title}}</h1>
      <p><img class="author-icon" src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">{{bookinfo.author}}{{bookinfo.uid}}</p>

      <!-- <ion-icon item-right name="close"></ion-icon> -->
      <ng-content item-right></ng-content>

    </ion-item>
</ion-card>
