xyz-yn-button {

  $bg: #eee;
  $actioncolor:#1E44D5;
  $actioncolordark:#091180;
  $mono0: #000;
  $mono02:#433f33;
  $mono05:#aaa;
  $mono06:#ccc;
  $mono07:#eee;
  $mono08:#f2f2f2;
  $mono09:#fff;
  $font-size-m:14px;
  $font-size-l:16px;
  $font-size-xl:20px;
  $font-size-xlplus:24px;
  $font-size-xxl:30px;
  $font-semibold:600;
  $focalPointColour:map-get($colors,secondary);
  $focalPointColourDark:#0F5496;
  $border-radius-m:4px;
  $boxdecoration:#FFCC00;

  
  ul {
    display:inline-block;
    padding: 0px;
    margin: 0px;
  }

  .middle{
    width: calc(100%);
  }
  
  .btn{
    padding:12px 20px;
    margin:0;
    vertical-align:middle;
    border: solid 1px $mono06;
    font-size:$font-size-m;
    border-radius:$border-radius-m;
    cursor:pointer;
  }
  
  .btn-switcher{
    background: linear-gradient(to bottom, rgba($mono09,1), rgba($mono07,1));
    display: table-cell;  
    border-right:none;
    border-radius:0;
    // color:$mono02;
    color:transparentize($mono02, .7);
  }
  
  .btn-switcher:first-child{
    border-radius:4px 0 0 4px;
  }
  
  .btn-switcher:last-child{
    border-radius:0 4px 4px 0;
    border-right: solid 1px $mono06; 
  }
  
  .btn-switcher:hover {
    background:$mono09;
  }
  
  
  .btn-switcher:active {
    box-shadow:inset 0px 0px 8px 0px rgba($mono0,0.1);
  }
  
  .btn-switcher.selected{
    background: $mono09;
    box-shadow:inset 0px 0px 8px 0px rgba($mono0,0.1);
    cursor:default;
    color:$mono02;
  }
  
  .button-group-heavy .btn-switcher:active {
      box-shadow:inset 0px 0px 8px 0px rgba($mono0,0.1);
  }
  
  .button-group-heavy .btn-switcher.selected{
    background: $actioncolor;
    border-color: $focalPointColourDark;
    color:$mono09;
    cursor:default;
  box-shadow:none;
  }
  
  .btn-switcher svg{
    // fill:$mono05;
    fill:transparentize($mono05, .7);
  }
  
  .btn-switcher.selected svg{
    fill:$focalPointColour;
  }
  
  .btn-switcher span{
    margin-left:-4px;
  }
  
  .solouncheck .btn-switcher span{
    display:none;
  }
  
  .solouncheck .btn-switcher.selected span{
    display:inline-block;
  }

}
