<ion-header>
    <ion-navbar>
      <ion-title>
        Ionic Blank
      </ion-title>
    </ion-navbar>
  </ion-header>
  

    <ion-slides>
    
      <ion-slide>
  <ion-content>
      
     <ion-list>
       <ion-item *ngFor="let i of items">{{i}}</ion-item>
     </ion-list>
    
     <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>  
    </ion-content>
    
    </ion-slide>

  </ion-slides>


  <!-- <ion-slides>
      
        <ion-slide>
  <ion-content>
      <ion-card *ngFor="let x of [1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,7]" tappable>
          <ion-item>
            <ion-avatar item-start>
              <img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
            </ion-avatar>
            <h2>Collection of free HTML and CSS cards</h2>
            <p>ASDFG</p>
          </ion-item>
    </ion-card>
  </ion-content>
</ion-slide>

  </ion-slides> -->


  