xyz-book-card {

  ion-card{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px dashed black;
    cursor: pointer;

    &:active{
      border: 1px solid map-get($colors,primary);    
    }

    h1{
      font-size: 2.0rem !important;
      font-weight: 400;
      span{
        font-size: 0.5rem;
        color: gray;
      }
    }
    .author-icon{
      border-radius: 50%;
      overflow: hidden;
      width: 20px;
      height: 20px;
    }

    span{
      display: inline-flex;
      line-height: 20px;
      font-size: 1.5rem;
      color: gray;
    }
  }



}
