<ion-slide *ngIf='serv.w_taglist.data'>
    <ion-content>
  <ion-fab top right>
    <button ion-fab mini (click)="navTo()"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>


  <div padding-top *ngFor="let tag of serv.w_taglist.data">
    <ng-template [ngIf]="tag.cnt>0">
      <ion-list>

        <div text-left padding-left (lazyTrigger)="onTagDisplay($event)" [payload]="tag">
              {{ tag.name }} | {{tag.cnt}}
        </div>
        <div [ngIf]="books[tag.name]">

            
          <ion-card *ngFor="let book of books[tag.name]" (click)="navToViewer()" tappable>
                <ion-item>
                  <ion-avatar item-start>
                    <img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
                  </ion-avatar>
                  <h2>{{book.title}}</h2>
                  <p>{{book.author}}</p>
                </ion-item>
          </ion-card>
          
        </div>
      
      </ion-list>
    </ng-template>
  </div>

  </ion-content>
              



</ion-slide>

<!-- 
<ion-slide>
    <ion-content>
    <ion-card *ngFor="let x of [1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4,5,6,7]" (click)="navToViewer()" tappable>
        <ion-item>
          <ion-avatar item-start>
            <img src="https://ionicframework.com/dist/preview-app/www/assets/img/marty-avatar.png">
          </ion-avatar>
          <h2>Collection of free HTML and CSS cards</h2>
          <p>ASDFG</p>
        </ion-item>
  </ion-card>
</ion-content>
</ion-slide>
   -->