
<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>

      <ion-title>
          {{app.bookinfo?.title}}
      </ion-title>
  
      <ion-buttons end>
          <button ion-button icon-only (click)="openModal($event)">
              <ion-icon name="options"></ion-icon>
          </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <div class="wrapper">
        <div #wordcard class="wordcard" [ngClass]="{'flipped': flipped}" (swipe)="swipeEvent($event)">

                
            <div *ngFor="let fb of ['front','back']">

                <div [class]="fb" style="height:100%" *ngIf="!(fb=='front'?quizf:quizb)">
                    <div class="out-of-quiz">{{'_MCQ.OUTOFQUIZ'|translate}}</div>
                </div>
                        
                <div [class]="fb" *ngIf="(fb=='front'?quizf:quizb); let quiz">


                <div style="float:right;">
                    <button ion-button icon-only (click)="app.toggleLearned(quiz);player.next()">{{listtype==='learning'?'－':'＋'}}
                    </button>
                </div>

                <h1 *ngIf="app.cfgrec.qshow" [ngClass]="{'onVoice': curKey=='q'}" (click)="player.setPlayKey('q')">{{quiz.q}}</h1>

                <hr *ngIf="app.cfgrec.qshow">

                <p *ngIf="app.cfgrec.ashow" [ngClass]="{'onVoice': curKey=='a'}" (click)="player.setPlayKey('a')">{{quiz.a}}</p>

                <p *ngIf="app.cfgrec.expshow" [ngClass]="{'onVoice': curKey=='exp'}" (click)="player.setPlayKey('exp')">{{quiz.exp}}</p>

                <p *ngIf="app.cfgrec.tipshow" [ngClass]="{'onVoice': curKey=='tip'}" (click)="player.setPlayKey('tip')">{{quiz.tip}}</p>

                <!-- <hr>
                <p>paused : {{tts.paused}}</p>
                <p>pending : {{tts.pending}}</p>
                <p>speaking : {{tts.speaking}}</p> -->


                </div>
            </div>

        </div>

    </div>



  </ion-content>
  
<ion-footer>
    <ion-range [(ngModel)]="playidx" [min]="1" [max]="player?.getLength()" pin="true" color="primary">
    </ion-range>

    <div class="player_wrap">
        <div class="btn btnplay" (click)="player.tooglePlayStatus()">
            <ion-icon [name]="(player?.state=='playing')?'pause':'play'"></ion-icon>
        </div>
        <div class="btn btnnext" (click)="player.next()">
            <ion-icon name="skip-forward"></ion-icon>
        </div>
    </div>

</ion-footer>
