<ion-slide>
    <ion-content>
        
        <ion-grid>
            <ion-row>

                <ion-col class='blockbtn'  (click)="newBook('MCQ')">＋{{'_MCQ.NAME'|translate}}</ion-col>

                <ion-col class='blockbtn'>＋{{'_CONQ.NAME'|translate}}</ion-col>

              </ion-row>
          </ion-grid>

          <hr>
          
          <ion-list *ngIf="wata && wata.data">

            <xyzui-book-card *ngFor="let book of wata.data" [bookinfo]="book">
                <!-- <button ion-button small icon-only> -->
                    <ion-icon class="del-btn" color="danger" name="close" item-right (click)="delBook($event, book)"></ion-icon> 
                <!-- </button> -->
                
            </xyzui-book-card>
                            
                        
          </ion-list>
                
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>  
    </ion-content>
</ion-slide>